.board-container {
  display: flex;
}

.row {
  margin-right: 25px;
  &:first-of-type {
    margin-left: 25px;
  }
  //   border: 1px solid black;
  flex: auto;
  .row__title {
    color: white;
  }
}

.item {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 5px 0;

  &__btn-left {
    position: absolute;
    left: 0;
  }
  &__btn-right {
    position: absolute;
    right: 0;
  }
}
